@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

body {
	background-color: #FFFFFF;
	margin:0 0 0 0;
	font-family: 'Ubuntu', sans-serif;
	}

#login{
	text-align: center;
}

#divHeader{
	height: 100px;
	background-color: #607D8B;
	text-align: center;
	padding-top: 25px;
	color: #FFFFFF;
}

#divNav{
	text-align: center;
	background-color: #455A64;
	color:#FFFFFF;
}

#divContenedor{
	margin-left: 200px;
	margin-right: 200px;
}

/* Color Hipervinculos*/
a{
	color:#FFFFFF;
}
a:link
{
   text-decoration: none;
}
a:visited
{
   text-decoration: none;
}
a:hover
{
   text-decoration: underline;
}

/*   Boton    */

.boton{
        color:white;
        background:#607D8B;
        border:0px;
        width:100px;
        height:30px;
        font-family: 'Ubuntu', sans-serif;
       }

/* ERRORES JS*/

.errores{
    text-align: center;
    width:200px;
    height: 20px;
    color: #F44336;
    display: none;
    margin: 0 auto;
    font-size: 12px;
}
